@using Babylon.Model.Constants

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary" @onclick="(() =>SceneCreator.CreateMesh(TypeMesh.Mesh.Box))"><img src="img/icon3d/icons8-cube-32.png"/></button>
        <button type="button" class="btn btn-primary" @onclick="(() =>SceneCreator.CreateMesh(TypeMesh.Mesh.Sphere))"><img src="img/icon3d/icons8-sphere-32.png"/></button>
        <button type="button" class="btn btn-primary" @onclick="(() =>SceneCreator.CreateMesh(TypeMesh.Mesh.Cylinder))"><img src="img/icon3d/icons8-cylinder-32.png"/></button>
        <button type="button" class="btn btn-primary" @onclick="(() =>SceneCreator.CreateMesh(TypeMesh.Mesh.Torus))"><img src="img/icon3d/icons8-torus-32.png"/></button>
    </div> 
</div> 