@inherits Babylon.UI.Shared.Helpers.CustomDrawCanvasImp

@page "/babylonui" 
 
<div class="container-fluid component">
    <div class=""> 
        <div class="d-flex justify-content-center">
            <div class="" style="width: 20%;">
                <ToolbarMeshesBabylon SceneCreator="@SceneCreator"/>
            </div> 
            <div class="" style="width: 70%; height: 600px; margin: 0 10px 0 10px;"> 
                <canvas id="@CanvasId"/> 
            </div> 
            <div class="">
                <ToolbarOperationsBabylon  SceneCreator="@SceneCreator"/>
            </div> 
        </div> 
    </div>
</div>